//@font-face {
//  font-family: Inter;
//  src: url(src/assets/fonts/Inter-VariableFont_slnt.ttf);
//}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

@mixin Button {
  margin: 10px 5px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 2px;
  border: none;
  transition: background-color 0.3s;
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
  svg {
    margin: 0 4px;
    width: 18px;
    height: 18px;
    fill: #313037;
  }

  &:disabled {
    background-color: #E8E8E8;
    color: #8D8E97;
    svg {
      fill: #8D8E97;
    }
  }
}


.primary-button {
  @include Button();
  background-color: #2231AA;
  color: #FFFFFF;

  &:not([disabled]):hover {
    background-color: #5360CD;
  }
}

.secondary-button {
  @include Button();
  background: #E8E8E8;
  color: #313037;

  &:not([disabled]):hover {
    background-color: #DADADA;
  }
}

.secondary2-button {
  @include Button();
  background: transparent;
  color: #FD3419;

  &:not([disabled]):hover {
    background-color: transparent;
    //border: 1px solid #DADADA;
     box-shadow: 0px 0px 1px 2px #E5E5E5 inset;
  }
}

.button-with-icon {
  @include Button();
  background-color: #E8E8E8;
  color: #313037;

  &:not([disabled]):hover {
    background-color: #5360CD;
    color: #FFFFFF;
    svg {
      fill: white;
    }
  }
}

.like-button {
  @include Button();
  background-color: #E8E8E8;
  color: #313037;

  &:not([disabled]):hover {
    background-color: #5360CD;
    color: #FFFFFF;
    svg {
      fill: white;
    }
  }
}

.dizlike-button {
  @include Button();
  background-color: #E8E8E8;
  color: #313037;

  &:not([disabled]):hover {
    background-color: #FD3419;
    color: #FFFFFF;
    svg {
      fill: white;
    }
  }
}
