.premary-button {
  padding: 16px 32px;
  gap: 10px;
  border-radius: 2px;
  border: none;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  transition: background-color 0.2s linear;
  text-transform: capitalize;
  cursor: pointer;
  background-color: #2231AA;
  color: #FFFFFF;
}
.premary-button:disabled {
  background-color: #E8E8E8;
  color: #8D8E97;
}
.premary-button:not([disabled]):hover {
  background-color: #5360CD;
}

.secondary-button {
  padding: 16px 32px;
  gap: 10px;
  border-radius: 2px;
  border: none;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  transition: background-color 0.2s linear;
  text-transform: capitalize;
  cursor: pointer;
  background: #E8E8E8;
  color: #313037;
}
.secondary-button:disabled {
  background-color: #E8E8E8;
  color: #8D8E97;
}
.secondary-button:not([disabled]):hover {
  background-color: #DADADA;
}

.secondary2-button {
  padding: 16px 32px;
  gap: 10px;
  border-radius: 2px;
  border: none;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  transition: background-color 0.2s linear;
  text-transform: capitalize;
  cursor: pointer;
  background: transparent;
  color: #FD3419;
}
.secondary2-button:disabled {
  background-color: #E8E8E8;
  color: #8D8E97;
}
.secondary2-button:not([disabled]):hover {
  background-color: transparent;
  box-shadow: 0px 0px 1px 2px #E5E5E5 inset;
}

.button-with-icon {
  padding: 16px 32px;
  gap: 10px;
  border-radius: 2px;
  border: none;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  transition: background-color 0.2s linear;
  text-transform: capitalize;
  cursor: pointer;
  background-color: #E8E8E8;
  color: #313037;
}
.button-with-icon:disabled {
  background-color: #E8E8E8;
  color: #8D8E97;
}
.button-with-icon:not([disabled]):hover {
  background-color: #5360CD;
  color: #FFFFFF;
}

.like-button {
  padding: 16px 32px;
  gap: 10px;
  border-radius: 2px;
  border: none;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  transition: background-color 0.2s linear;
  text-transform: capitalize;
  cursor: pointer;
  background-color: #E8E8E8;
  color: #313037;
}
.like-button:disabled {
  background-color: #E8E8E8;
  color: #8D8E97;
}
.like-button:not([disabled]):hover {
  background-color: #FD3419;
  color: #FFFFFF;
}

.dizlike-button {
  padding: 16px 32px;
  gap: 10px;
  border-radius: 2px;
  border: none;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  transition: background-color 0.2s linear;
  text-transform: capitalize;
  cursor: pointer;
  background-color: #E8E8E8;
  color: #313037;
}
.dizlike-button:disabled {
  background-color: #E8E8E8;
  color: #8D8E97;
}
.dizlike-button:not([disabled]):hover {
  background-color: #5360CD;
  color: #FFFFFF;
}

.icon-like-button {
  width: 18px;
  height: 18px;
  fill: #313037;
  text-align: center;
}

.icon-flag-button {
  width: 18px;
  height: 18px;
  fill: #313037;
  margin-right: 10px;
  text-align: center;
}

/*# sourceMappingURL=MyButton.css.map */
